{% extends 'main/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text" style="position: absolute; top: 130px; left: 20px;">
        <strong>< I hung my total of 3 sns links below.<br>Please refer to it. ></strong>

        <div class="sns-list">
            <div class="sns1">
                <a href="https://www.instagram.com/hi_juyeong/" target="_self">1. Instagram</a>
            </div>
            <div class="sns2">
                <a href="https://www.facebook.com/profile.php?id=100006480910900" target="_self">2. Facebook</a>
            </div>
            <div class="sns3">
                <a href="https://www.youtube.com/channel/UCFEhQDz8Z7j_DxJz-hOMCkg/featured" target="_self">3. Youtube</a>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}