body{
    padding: 0;
    margin: 0;
    min-width: 1000px;
}

#header {
    height: 100px;
    background-color: rgba(202, 202, 202, 0.646);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.name {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    margin-left: 50px; 
    font-size: 32px;
    transition-property: color;
    color: rgb(50, 50, 50);;
}

.menu-list2{
    display: flex;
    list-style: none;
}

.menu2 {
    text-decoration: none; 
    color: #53183c;
    padding: 0 50px;
    transition-property: color;
    transition-duration: 1s;
}

.menu2-1, .menu2-2, .menu2-3 {
   font-size: 19px;
}

.menu-list {
    display: flex;
    position: absolute;
    top: 50%; 
    right: 10%;
    transform: translateY(-50%);
    font-size: 20px;
}

#menu ul ul {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

#menu ul li:hover ul {
    display: block;
}

.menu-list .menu a{
    text-decoration: none; 
    color: #182153;
    padding: 0 40px;
    transition-property: color;
    transition-duration: 1s;
}

#welcome {
    position: relative;
    height: 65;
    margin-top: 101px;
    background-color: rgb(228, 255, 255);
    z-index: 1;
}

.welcome-in {
    position: absolute;
    font-size: 35;
    left: 50%;
    transform: translate(-50%);
}

#profile {
    height: 700px;
    background-color: rgba(251, 248, 255, 0.85);
    position: relative;
    overflow: hidden; 
    z-index: 2;
}

.profile-back{
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.profile-info{
    position: absolute;
    display: flex;
    top: 50;
    left: 30%;
    transform: translateX(-50%, -50%);
}

.profile-img {
    position: relative;
}

.img1 {
    width: 380px;
   object-fit: cover; 
    border-radius: 35%;
}

.profile-text {
    position: relative;
}

.table a {
    transition-property: color;
    color: #182153;
}
