{% extends 'blog/base.html' %}

{% block content %}
<!--base.html에서 h1코드 그대로 여기 뜸-->

<h1>{{ post.title }}</h1>

<p>
    <!-- 이미지가 없는 게시물도 있으니까 if문을 씀 -->
    {% if post.image_1 %}
    <img src="{{ post.image_1.url }}">
    {% endif %}

    {% if post.image_2 %}
    <img src="{{ post.image_2.url }}">
    {% endif %}
</p>

<p>
    {{post.content}}
</p>

<small>{{ post.updated_at }}</small><br>

<form>
    <a href="{% url 'post_edit' post.id %}"><input type="button" value="수정"></a>
    <a href="{% url 'post_list' %}"><input type="button" value="목록"></a>
    <a href="{% url 'post_delete' post.id %}"><input type="button" value="삭제"></a>
</form>

{% endblock content %}