/* .img1 {
    height: 200;
    width: 400;
    position: absolute;
    top: 150;
    left: 30;
}

.img2 {
    height: 250;
    width: 450;
    position: absolute;
    top: 50;
    left: 500;
}

.img3 {
    height: 250;
    width: 400;
    position: absolute;
    top: 420;
    left: 380;
}

.img4 {
    height: 300;
    width: 430;
    position: absolute;
    top: 200;
    left: 900;
} */